/*
COLORS:

Blue: #305580
Gray: #657B95
Light Blue: #4E89CC 
Blueish Gray: #8BA9CC 
Dark Blue: #1D334D
Orange: #ff9900
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    scroll-behavior: smooth;
    height: 100%;
    background-color: rgb(250, 250, 250);
}

p, h4 {
    font-family: "Squada One", sans-serif;
}

h4 {
    font-size: 1.7em;
}

.header {
    height: 100vh;
    overflow: hidden;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 80%, 0% 100%);
}


nav {
    width: 100%;
}

.banner {
    display: flexbox;
    font-family: "Squada One", sans-serif;
    background-color: #305580ab;
    color: rgb(250, 250, 250);
    text-align: end;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.bannerBtn {
    justify-content: center;
    color: white;
    overflow: hidden;
}

.fas {
    color: #ff9900;
}

.bannerBtn a {
    color: rgb(250, 250, 250);
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px;
}

.bannerBtn a:hover {
    color: #8BA9CC;
    animation: hover 1.2s ease-in;
    animation-iteration-count: infinite;
}

@keyframes hover{
    0% {
        color: rgb(250, 250, 250);
    }

    50% {
        color: #ff9900;
    }

    100% {
        color: rgb(250, 250, 250);
    }
}

.logo-box {
    position: absolute;
    top: 7%;
    left: 3%;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    overflow: hidden;
}

.heading-primary {
    color: rgb(250, 250, 250);
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 60px;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 25px;

    animation-name: moveInTop;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

.heading-secondary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 25px;
    margin-bottom: 25px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 17.4px;

    animation: moveInRight 1.5s ease-out;
    animation-delay: 1.5s;
    animation-fill-mode: backwards;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    80% {
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-white {
    background-color: rgb(250, 250, 250);
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: rgb(250, 250, 250);
}

.btn:hover::after {
    transform: scalex(1.4) scaley(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 1s ease-out 2.5s;
    animation-fill-mode: backwards;
}

                                /* MAIN */

h1 {
    text-align: center;
    margin-top: 100px;
}

h3 {
    margin-left: 100px;
    font-weight: bolder;
    text-align: left;
    padding-top: 50px;
    font-family: 'Syncopate', sans-serif;
    color: #ff9900;
}

hr {
    color: rgb(250, 250, 250);
    margin-left: 100px;
    margin-right: 100px;
    border-color: rgb(250, 250, 250);
    padding-bottom: 25px;
}
                                /* ABOUT */

.aboutBox {
    padding-top: 100px;
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgb(250, 250, 250);
    color: #1D334D;
    text-align: center;
}

.aboutBox hr {
    border-color: #1D334D;
}

.aboutBox p {
    font-size: 1.5em;
    margin-left: 100px;
    margin-right: 100px;
    text-indent: 50px;
    padding-bottom: 50px;
    font-weight: normal;
}
.languages {
    padding-top: 50px;
    background-color: #305580;
    color: rgb(250, 250, 250);
    height: 100%;
    text-align: center;
}

.languages li {
    display: inline;
    padding-left: 50px;
    padding-right: 50px;
}
.languages p {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    text-align: center;
}

.languages ul {
    margin: 0;
    padding-bottom: 50px;
}

.software {
    text-align: center;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ff9900;
    color: rgb(250, 250, 250);
}

.software i,
.software h3 {
    color: rgb(250, 250, 250);
}

.software li,
.skills li {
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
}

.software ul,
.skills ul {
    padding: 10px 0 10px 0;
}

.skills {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1D334D;
    color: rgb(250, 250, 250);
    text-align: center;
    height: 100%;
}





/*          CONTACT SECTION             */
.contact {
    color: #305580;   
    background-color: rgb(250, 250, 250);
    height: inherit;
    padding: 50px 0 0 0;
    text-align: center;
    padding-bottom: 50px;
}

.contact hr {
    margin: 0px 100px 0px 100px;
    padding-bottom: 25px;
    border-color: #305580;
}

.contact a:link,
.contact a:visited {
    color: rgb(250, 250, 250);
    text-decoration: none;
}

.contactOptions {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}


.contact h3 {
    color: #ff9900;
}

.formBtns {
    padding-top: 3rem;
}

.option {
    display: flex;
    justify-content: center;
    color: rgb(250, 250, 250);
    background-color:#8BA9CC;
    border-radius: 20px;
    padding: 10px 20px;
}

@keyframes optionHover {
    0% {
        background-color: linear-gradient(rgb(250, 250, 250), #305580);
    }
    100% {
        background-color: linear-gradient(#305580, rgb(250, 250, 250));
    }
}

.btn {
    background-color: #8BA9CC; 
    color: rgb(250, 250, 250);
    overflow: hidden;
}

footer {
    background-color: #305580;
    color: rgb(250, 250, 250);
    text-align: center;
    margin: 0;
    padding: 20px;
}

footer img {
    width: 8%;
}

/* --------------------Thank you page after form submit--------------------*/

.thanks main{
    text-align: center;
    padding: 10rem;
}

.thanksLogo {
    width: 20rem;
    height: auto;
    margin: 2rem auto;
}

.thanks h3 {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.thanks footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.thanks h5 a {
    color: #ff9900;
}



@media (max-width: 992px) {

    h3 {
        margin-left: 10px;
        padding-bottom: 10px;
        margin-right: 50px;
    }

    hr {
        margin-left: 0;
        margin-right: 50px;
        padding-bottom: 40px;
    }

    .banner {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }

    .bannerBtn a {
        font-size: 1.2em;
        padding: 5px;
    }

    .aboutBox {
        height: auto;
        font-size: 2vw;
    }
    
    .aboutBox p {
        margin: 0;
        padding-left: 30px;
        padding-right: 30px;
    }

    .languagesMobile {
        background-color: #305580; 
        color: rgb(250, 250, 250);
        height: inherit;
        padding: 50px 0 50px 0;
        text-align: center;
    }

    .languagesMobile ul {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    .languagesMobile li {
        width: 33%;
    }

    .languagesMobile p {
        padding: 10px 0 10px 0;
        font-size: .7em;
    }

    .contact hr {
        margin-left: 0;
        margin-right: 50px;
        padding-bottom: 40px;
    }

    .softwareMobile {
        background-color: #8BA9CC;
        color: rgb(250, 250, 250);
        height: inherit;
        text-align: center;
        padding: 50px 0 50px 0;
    }

    .softwareMobile h3,
    .softwareMobile i {
        color: rgb(250, 250, 250);
    }

    .softwareMobile ul {
        margin: 5px;
        display: flex;
        justify-content: space-evenly;
    }

    .softwareMobile li {
        width: 20%;
        margin: 10px;
    }

    .skillsMobile {
        padding-top: 50px;
        background-color: #1D334D;
        color: rgb(250, 250, 250);
        height: inherit;
        padding-bottom: 50px;
        font-size: 3vw;
        text-align: center;
    }

    .skillsMobile ul {
        display: flex;
        justify-content: space-evenly;
    }

    .skillsMobile li {
        display: inline-block;
        justify-content: center;
        margin: 20px;
        width: 50%;
    }

    .contactOptions {
        display: inline-block;
        width: 100%;
    }

    .contact {
        background-color: #ff9900;

    }
    .option {
        display: flex;
        color: #1D334D;
        border-radius: 0;
        background-color: #ff9900;
        justify-content: space-between;
    }

    .contact h3,
    .contact i {
        color: #1D334D;
    }

    footer img {
        width: 20%;
    }
    footer {
        background-color: #305580;
        display: block;
    }
}


/****************************Projects.html*****************************/
.projects {
    display: flexbox;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    height: 100%;
    color: rgb(250, 250, 250);
    background-color: #1D334D;
}

.projects img {
    align-self: center;
    width: 80%;
    margin: 20px 0px 5px 0px;
}

.designRow {
    display: flex;
    justify-content: center;
}

.card {
    position: relative;
    width: 15%;
    justify-content: start center;
    height: 400px;
    margin: 30px 40px 30px 40px;
    border: rgba(48, 85, 128, .5);
}
.apps {
    background-color: #4E89CC;
}
.graphics {
    background-color: #ff9900;
}

.graphics img {
    height: 19rem;
}

.card hr {
    margin: 0px 30px 0px 30px;
    border-color: #305580;
}

.card h5 {
    font-family: "Lato", sans-serif;
    color: #1D334D;
}

.card h6 {
    color: #1D334D;
    position: absolute;
    bottom: 0;
    left: 0;
}

.card p {
    text-align: left;
    padding: 0 20px 0 20px;
    font-size: 70%; 
    font-family: "Lato", sans-serif;
    color: #1D334D;
    position: relative;
}

.card a {
    text-decoration: none;
    overflow-x: hidden;
}


@keyframes glow {
    from {

    }
  
    to {
        box-shadow: 1px 1px 20px 15px #8BA9CC;
    }
  }
  
.card:hover {
    animation-duration: .7s;
    animation-name: glow;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

@media (max-width: 992px) {

    .designRow {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .card {
        background-color: #305580;
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
        height: fit-content;
    }

    .card h5 {
        color: rgb(250, 250, 250);
    }

    .card p {
        color: rgb(250, 250, 250);
        font-size: 1em;
    }
    .card h6 {
        position: relative;
        color: rgb(250, 250, 250);
        font-size: .8em;
    }
    .card hr {
        border-color: rgb(250, 250, 250);
    }
    .card:hover {
        animation: none;
    }
    .card:nth-of-type(2n) {
        background-color: #ff9900;
    }
}